.first-block {
    position: absolute;
    width: 381px;
    height: 505px;
    left: 3px;
    top: 0px;

    background: #FCFDFF;
}
.cloud-1 {
    position: absolute;
    width: 30px;
    height: 15px;
    left: 84.92px;
    top: 21.51px;

    box-shadow: 0px 1.32415px 11.9174px rgba(151, 175, 227, 0.1);
}
.cloud-2 {
    position: absolute;
    width: 30.72px;
    height: 16.42px;
    left: 295.99px;
    top: 39.46px;
}
.title {
    position: absolute;
    width: 90px;
    height: 8px;
    left: 143px;
    top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 7px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #3D4F9F;
}
.name-combiner {
    position: absolute;
    width: 96.93px;
    height: 15.89px;
    left: 139.21px;
    top: 37.08px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 12.7119px;
    line-height: 16px;
    white-space: nowrap;
    /* identical to box height */

    text-align: center;

    color: #3D4F9F;
}
.name-combiner-sub {
    position: absolute;
    width: 115.91px;
    height: 9.53px;
    left: 130px;
    top: 59px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    line-height: 191.02%;
    /* or 11px */

    text-align: center;
    letter-spacing: 0.03em;

    color: #8D96BD;
}
.first-box {
    position: absolute;
    width: 357px;
    height: 425px;
    left: 12px;
    top: 80px;

    background: #FFFFFF;
    border: 0.372645px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0px 5.58967px 18.6322px #EFF4FF;
}
.box-head {
    position: absolute;
    width: 147.57px;
    height: 16.77px;
    left: 114.71px;
    top: 23px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 13.4152px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    white-space: nowrap;

    color: #3D4F9F;
}
.box-name1 {
    position: absolute;
    width: 197.4px;
    height: 41.74px;
    left: 48px;
    top: 62px;

    background: #F5F8FF;
    border-radius: 2.32254px;
}
.box-name2 {
    position: absolute;
    width: 197.4px;
    height: 41.74px;
    left: 48px;
    top: 135px;

    background: #F5F8FF;
    border-radius: 2.32254px;
}
.box-name3 {
    position: absolute;
    width: 197.4px;
    height: 41.74px;
    left: 48px;
    top: 201px;

    background: #F5F8FF;
    border-radius: 2.32254px;
}
.box-name4 {
    position: absolute;
    width: 197.4px;
    height: 41.74px;
    left: 48px;
    top: 274px;

    background: #F5F8FF;
    border-radius: 2.32254px;

}
.box-name-input {
    position: absolute;
    width: 100px;
    height: 12.03px;
    left: 17px;
    top: 15px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 6.0386px;
    line-height: 8px;
    border: none;
    display: flex;
    align-items: center;

    color: #7A85AD;
}
.clear {
    position: absolute;
    width: 52.49px;
    height: 19.97px;
    left: 110px;
    top: 450px;

    background: #FFD7D7;
    border-radius: 0.929016px;
}
.clear-text {
    position: absolute;
    width: 82px;
    left: 18px;
    top: 6px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 6.0386px;
    line-height: 8px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #D43F3F;
}
.line1 {
    position: absolute;
    width: 6.97px;
    height: 0px;
    left: 173px;
    top: 460px;

    border: 0.464508px solid #DAE4FE;
}
.line2 {
    position: absolute;
    width: 6.97px;
    height: 0px;
    left: 203px;
    top: 460px;

    border: 0.464508px solid #DAE4FE;
}
.or {
    position: absolute;
    width: 7.43px;
    height: 9.29px;
    left: 188px;
    top: 455.57px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 5.10959px;
    line-height: 9px;
    text-align: center;

    color: #ADB3CB;
}
.combine {
    position: absolute;
    width: 52.49px;
    height: 19.97px;
    left: 217.05px;
    top: 450px;

    background: #D2E1FF;
    border-radius: 0.929016px;
}
.combine-text {
    position: absolute;
    width: 38.09px;
    height: 7.9px;
    left: 13px;
    top: 6.04px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 6.0386px;
    line-height: 8px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3A79FF;
}
.block-line {
    position: absolute;
    width: 381px;
    height: 0px;
    left: 1px;
    top: 609px;

    border: 1px solid #D8E3FE;
}
.second-block {
    position: absolute;
    display: block;
    width: 330.26px;
    height: 180px;
    left: 20px;
    top: 696px;
}
.pluses-images1 {
    position: absolute;
    width: 35.38px;
    height: 35.38px;
    left: 18.46px;
}
.pluses-images2 {
    position: absolute;
    width: 35.38px;
    height: 35.38px;
    left: 165.64px;
}
.pluses-images2-gener {
    position: absolute;
    width: 15px;
    height: 10.26px;
    left: 175.64px;
    top: 12px;
}
.pluses-images3 {
    position: absolute;
    width: 35.38px;
    height: 35.38px;
    left: 294.87px;
}
.pluses-1 {
    position: absolute;
    width: 57.95px;
    height: 12.82px;
    left: 7.18px;
    top: 52.31px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 7.17949px;
    line-height: 13px;
    /* identical to box height */

    text-align: center;

    color: #4074F8;
}
.pluses-1-sub {
    position: absolute;
    width: 71.79px;
    height: 21.54px;
    top: 77.95px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 5.64103px;
    line-height: 10px;
    text-align: center;

    color: #ADB3CB;
}
.pluses-2 {
    position: absolute;
    width: 68.72px;
    height: 12.82px;
    left: 148.72px;
    top: 52.31px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 7.17949px;
    line-height: 13px;
    /* identical to box height */

    text-align: center;

    color: #4074F8;
}
.pluses-2-sub {
    position: absolute;
    width: 71.79px;
    height: 21.54px;
    left: 147.18px;
    top: 77.95px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 5.64103px;
    line-height: 10px;
    text-align: center;

    color: #ADB3CB;
}
.pluses-3 {
    position: absolute;
    width: 75.9px;
    height: 12.82px;
    left: 274.36px;
    top: 52.31px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 7.17949px;
    line-height: 13px;
    /* identical to box height */

    text-align: center;

    color: #4074F8;
}
.pluses-3-sub {
    position: absolute;
    width: 71.79px;
    height: 21.54px;
    left: 276.41px;
    top: 77.95px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 5.64103px;
    line-height: 10px;
    text-align: center;

    color: #ADB3CB;
}
.social-f {
    position: absolute;
    width: 6.95px;
    height: 13.56px;
    left: 128.72px;
    top: 132px;
}
.social-f:hover {
    background-color: #6188FF;
    border-radius: 30%;
}
.social-ino {
    position: absolute;
    width: 12.82px;
    height: 12.29px;
    left: 163.59px;
    top: 132px;
}
.social-ino:hover {
    background-color: #6188FF;
    border-radius: 30%;
}
.social-twi {
    position: absolute;
    width: 13.17px;
    height: 10.99px;
    left: 204.9px;
    top: 132px;
}
.social-t {
    position: absolute;
    width: 7.37px;
    height: 11.79px;
    left: 246.15px;
    top: 132px;
}
.social-t:hover {
    background-color: #6188FF;
    border-radius: 30%;
}
.footer {
    position: absolute;
    width: 105.13px;
    height: 7.69px;
    left: 138.46px;
    top: 868.31px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 6.15385px;
    line-height: 8px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #AEB8D0;
}

